@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
    overflow-x: clip;
  }

  html {
    @apply font-sans;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    overflow-x: clip;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
