# deps
/node_modules

# generated content
.source

# tanstack start / vite / nitro build output
/.output
/.nitro
/.tanstack
/dist
/out
/build
/coverage
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env*.local
.vercel